# Desafios de Python Essencial para Data Science
## 1. Introdução ao Python

In [ ]:
# Crie um script "Hello, World!

print("Hello, World!")

In [ ]:
# Conceitos básicos de variáveis e tipos de dados em Python

# Variáveis

nome = 'Vinícius'
idade = 30
altura = 1.80

# Tipos de dados

print(type(nome))  # <class 'str'>
print(type(idade))  # <class 'int'>
print(type(altura))  # <class 'float'>

# Operações com variáveis

soma = idade + 10
print(soma)  # 40

# Concatenação de strings

nome_completo = nome + ' ' + 'Santos'
print(nome_completo)  # 'Vinícius Santos'

# 2. Funções e Condicionais

In [ ]:
# Escreva uma função que receba dois números e retorne o maior deles.

def maximo(a, b):
  """
  Retorna o maior valor entre dois números.

  Args:
    a: O primeiro número.
    b: O segundo número.

  Returns:
    O maior valor entre a e b.
  """
  if a > b:
    return a
  else:
    return b

# Exemplo de uso
print(maximo(5, 10))  # 10
print(maximo(12, 3))  # 12

In [ ]:
# Utilize condicionais para verificar se um número é par ou ímpar

def is_even(number):
  """
  Verifica se um número é par.

  Args:
    number: O número a ser verificado.

  Returns:
    True se o número for par, False caso contrário.
  """
  return number % 2 == 0

# Exemplo de uso
print(is_even(4))  # True
print(is_even(5))  # False

# 3. Loops e Iterações

In [ ]:
# Implemente um loop que some todos os números de 1 a 100

total = 0
for i in range(1, 101):
  total += i

print(total)

In [ ]:
# Crie uma lista de palavras e utilize um loop para contar quantas palavras possuem mais de 5 caracteres.

def count_long_words(word_list):
  """
  Counts the number of words in a list that have more than 5 characters.

  Args:
    word_list: A list of words.

  Returns:
    The number of words in the list that have more than 5 characters.
  """

  long_word_count = 0
  for word in word_list:
    if len(word) > 5:
      long_word_count += 1
  return long_word_count

# Example usage
word_list = ["hello", "world", "python", "programming", "short", "longword"]
long_word_count = count_long_words(word_list)
print(f"Number of words with more than 5 characters: {long_word_count}")

# 4. Listas e Manipulação de Dados

In [ ]:
# Crie uma lista de números e demonstre como adicionar, remover e acessar elementos.
# Ordene a lista e encontre o valor máximo e mínimo.

# Create a list of numbers
numbers = [1, 5, 3, 10, 7]

# Add a new element to the end of the list
numbers.append(15)

# Remove the first element from the list
del numbers[0]

# Access the third element
print(numbers[2])  # Output: 3

# Sort the list in ascending order
numbers.sort()
print(numbers)  # Output: [3, 5, 7, 10, 15]

# Find the maximum and minimum values in the list
max_value = max(numbers)
min_value = min(numbers)

print(f"Maximum value: {max_value}")  # Output: 15
print(f"Minimum value: {min_value}")  # Output: 3

## 5. Strings e Operações com Textos

In [ ]:
# Escreva um código que conte o número de vogais em uma string. Utilize slicing para extrair substrings específicas.

def count_vowels(string):
  """
  Counts the number of vowels in a string.

  Args:
    string: The string to count vowels in.

  Returns:
    The number of vowels in the string.
  """

  vowels = "aeiou"
  vowel_count = 0
  for char in string:
    if char.lower() in vowels:
      vowel_count += 1

  return vowel_count

# Example usage
string = "Hello, World!"
vowel_count = count_vowels(string)
print(f"Number of vowels in '{string}': {vowel_count}")

# Slicing substrings
substring = string[7:12]
print(f"Substring: '{substring}'")

# 6. Tuplas e Conjuntos

In [ ]:
# Crie uma tupla com 5 elementos e mostre como acessar cada elemento.

# Create a tuple with 5 elements
my_tuple = (1, 2, 3, 4, 5)

# Access each element
print(my_tuple[0])  # Output: 1
print(my_tuple[1])  # Output: 2
print(my_tuple[2])  # Output: 3
print(my_tuple[3])  # Output: 4
print(my_tuple[4])  # Output: 5

# Access a range of elements
print(my_tuple[1:4])  # Output: (2, 3, 4)

In [ ]:
# Use um conjunto para encontrar os elementos únicos de uma lista.

# Create a list with duplicate elements
my_list = [1, 2, 3, 4, 2, 5, 1, 6]

# Convert the list to a set to remove duplicates
unique_elements = set(my_list)

# Print the unique elements
print(unique_elements)

# 7. Dicionários e Estruturas de Dados

In [ ]:
# Crie um dicionário para armazenar informações de um aluno (nome, idade, nota).
# Atualize a nota do aluno e adicione uma nova chave para a média das notas.

# Create a dictionary to store student information
student = {
    "name": "John Doe",
    "age": 20,
    "grade": 85
}

# Update the student's grade
student["grade"] = 90

# Add a new key for the average grade
student["average_grade"] = (student["grade"] + student["grade"]) / 2

# Print the updated dictionary
print(student)

# 8. Bibliotecas Externas

In [ ]:
# Instale e importe a biblioteca numpy .

!pip install numpy
import numpy as np

In [ ]:
# Crie um array e demonstre operações básicas (soma, média, multiplicação por escalar).

# Import the numpy library
import numpy as np

# Create a numpy array
array = np.array([1, 2, 3, 4, 5])

# Print the array
print(array)

# Sum the elements of the array
print(np.sum(array))

# Calculate the mean of the array
print(np.mean(array))

# Multiply the array by a scalar
print(array * 2)

# 9. Análise de Dados com Pandas

In [ ]:
# Carregue um dataset (ex: CSV) usando pandas e exiba as primeiras linhas.

import pandas as pd

# Carregando o arquivo CSV
df = pd.read_csv('/content/Iris.csv')

# Exibe as primeiras linhas
df.head()

In [ ]:
# Realize operações básicas de limpeza de dados, como remoção de valores nulos e filtragem de linhas utilizando o arquivo /content/Iris.csv

import pandas as pd

# Load the CSV file into a Pandas DataFrame
df = pd.read_csv('/content/Iris.csv')

# Drop rows with missing values
df.dropna(inplace=True)

# Filter rows where the species is "setosa"
df = df[df['Species'] != 'setosa']

# Print the cleaned DataFrame
print(df)

isnull_count = df.isnull().sum()
print(isnull_count)

# 10. Visualização de Dados

In [ ]:
# Utilize a biblioteca matplotlib para criar um gráfico de barras com dados fictícios

import matplotlib.pyplot as plt

# Define data
x = [1, 2, 3, 4, 5]
y = [10, 20, 30, 40, 50]

# Create the bar plot
plt.bar(x, y)

# Add labels and title
plt.xlabel("X-axis")
plt.ylabel("Y-axis")
plt.title("Bar Plot Example")

# Show the plot
plt.show()

In [ ]:
# Crie um histograma para visualizar a distribuição de um conjunto de dados

# Import necessary libraries
import matplotlib.pyplot as plt

# Define data
data = [2, 5, 7, 2, 1, 4, 6, 8, 3, 5, 9, 10]

# Create the histogram
plt.hist(data)

# Add labels and title
plt.xlabel("Value")
plt.ylabel("Frequency")
plt.title("Histogram of Data")

# Show the plot
plt.show()